<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="join-service" class="member.command.JoinService">
		<property name="memberDao" ref="member-dao" />
	</bean>
	
	<bean id="login-service" class="member.command.LoginService">
		<property name="memberDao" ref="member-dao" />
	</bean>
    <bean id="naver-loginapi" class="member.command.NaverLoginApi"/>
</beans>
