<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<!-- 
web.xml문서는 톰캣 서버 기동시 가장 먼저 스캔하는 문서임.
배치 서술자라고 불린다.
<context-param>태그 안에 오는 선언은 서버 기동시 한번 읽어서 서버가 종료될 때까지 기억함.
프로젝트 공통된 관심사(JDBC연동, 로그관리, 보안문제, 트랜잭션처리) 인것들 중에서
로그에 대한 설정을 실습
 -->
  <context-param>
  	<param-name>log4jConfigLocation</param-name>
  	<param-value>/WEB-INF/classes/log4j.properties</param-value>
  </context-param>

  <context-param>
  	<description>로깅 여부</description>
  	<param-name>logEnabled</param-name>
  	<param-value>true</param-value>
  </context-param>
  
  <context-param>
  	<description>디버깅 레벨</description>
  	<param-name>debugingLevel</param-name>
  	<param-value>5</param-value>
  </context-param>
  
  
  <servlet>
  	<servlet-name>ControllerUsingURI</servlet-name>
  	<servlet-class>member.command.ControllerUsingURI</servlet-class>
  	<init-param>
  		<param-name>configFile</param-name>
  		<param-value>
  			/WEB-INF/classes/commandHandlerURI.properties
  		</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ControllerUsingURI</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <filter> <!-- 필터는 클라와 내가 들어가려는 서블릿 그 사이에 존재해서 한 번 필터링을 해주는 것임. -->
  	<filter-name>LoginCheckFilter</filter-name><!-- 내가 사용하려는 필터링 이름 -->
  	<filter-class>member.command.LoginCheckFilter</filter-class> <!-- 사용하는 필터링 클래스 위치 -->
  </filter>
  <filter-mapping>
  	<filter-name>LoginCheckFilter</filter-name> <!-- 만약 같은 url-pattern을 여러게 필터 처리하면 순서대로 필터링을 거치고 화면을 받아온다 -->
  	<url-pattern>/mystudy/instagram/mainview.do</url-pattern> <!-- 내가 mainview를 킬때마다 로그인 되어 있는지 확인 -->
  	<url-pattern>/mystudy/instagram/upload.do</url-pattern> <!-- 내가 새로운 게시글을 올릴 때마다 로그인 되어 있는지 확인 -->
  	<dispatcher>REQUEST</dispatcher> <!-- 이게 디폴트로 클라가 요청할때마다 필터를 낀 후에 서블릿이 동작하도록 해준다. -->
  </filter-mapping>
</web-app>
